<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side">
    <md-toolbar>
      <span>First Row</span>
      <md-toolbar-row>
        <span>Second Row</span>
      </md-toolbar-row>
      <md-toolbar-row>
        <button md-button ng-show="af.auth" (click)="logout()">Logout</button>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    <span>
    Angular Material2 Example App
    </span>
    <span class="app-toolbar-filler"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">Login</button>
  </md-toolbar>

  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.$value}}
    </li>
  </ul>
  <div> {{ (af.auth | async)?.uid }} </div>

  <span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
</md-sidenav-container>

<md-menu #menu="mdMenu">
  <button md-menu-item (click)="login()">
      <i class="fa fa-google" aria-hidden="true"></i> 
      <span>Login with Google</span>
   </button>
  <button md-menu-item disabled>
      <md-icon>voicemail</md-icon>
      <span>Login with Facebook</span>
   </button>
  <button md-menu-item disabled>
      <md-icon>notifications_off</md-icon>
      <span>Login with Microsoft</span>
   </button>
</md-menu>